@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fredoka-one";
  src: url("./assets/fonts/Fredoka_One/FredokaOne-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "montserrat-regular";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "montserrat-medium";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
.root,
#root,
#docs-root {
  --white: #ffffff;
  --black: #000000;
  /* pink */
  --pink-0: #f21d81;
  --pink-1: #f161a5;
  --pink-2: #ffc6e1;
  --pink-3: #ffe7f2;
  /* aqua */
  --aqua-0: #16f2b4;
  --aqua-1: #5ffcd0;
  --aqua-2: #a6ffe6;
  --aqua-3: #e4fff8;
  /* purple */
  --purple-0: #3d2967;
  --purple-1: #675294;
  --purple-2: #a38fce;
  --purple-3: #e0d5f9;
  /* gray */
  --gray-0: #595a60;
  --gray-1: #96969f;
  --gray-2: #d3d3d3;
  --gray-3: #efefef;
  /* yellow */
  --yellow-0: #f2bc1b;
  --yellow-1: #efcb5e;
  --yellow-2: #ffeebb;
  --yellow-3: #fff8e4;
  /* purpleDark */
  --purpleDark-0: #322255;
  --purpleDark-1: #53476c;
  --purpleDark-2: #807793;
  --purpleDark-3: #c3bcd2;
}

@layer base {
  .fredoka {
    font-family: "fredoka-one";
  }
  .montse-rg {
    font-family: "montserrat-regular";
  }
  .montse-md {
    font-family: "montserrat-medium";
  }
}

/* Select arrow */

.arrow-select {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 2em;
  padding: 0px;
  pointer-events: none;
}
/* Custom checkbox */
.custom-checkbox label input[type="checkbox"] {
  display: none;
}

body {
  font-family: "montserrat-medium";
  margin: 0;
  color: #96969f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Custom Scroll */
.custom-scroll::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
  margin: none;
}
.custom-scroll::-webkit-scrollbar-track {
  /* background: var(--purple-3); color of the tracking area */
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--aqua-0); /* color of the scroll thumb */
  /* border-radius: 20px; roundness of the scroll thumb */
  /* border: 1px solid orange; --- creates padding around scroll thumb */
}

/* Ant Design custom */
/* drawer */
/* .ant-drawer-content-wrapper {
  width: 500px !important;
} */
.ant-drawer-wrapper-body {
  position: relative;
  justify-content: center;
  background: #d3d3d3;
}
.ant-drawer-body {
  flex-grow: 0;
  margin: 5px;
  margin-top: 0px;
  padding: 6px;
  border-radius: 12px;
  height: auto !important;
  background: #fff;
  /* box-shadow: 1px 5px 9px 0px rgba(133, 133, 133, 0.75); */
}
.ant-drawer-header {
  background: #d3d3d3;
  padding: 5px;
  padding-left: 15px;
  border: none;
}
/* upload form */
.ant-upload-picture-card-wrapper {
  width: auto;
}
/* item form */
.ant-form-item {
  margin-bottom: 0px;
}
/* label form */
.ant-form-item-label {
  /* border: solid 1px black; */
  width: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}
.ant-form-item-label.ant-col-8 {
  width: 40%;
  flex: none;
}
/* input form */
.ant-input {
  border: solid #d3d3d3 1px;
  border-radius: 15px;
}
.ant-form-item-control.ant-col-16 {
  max-width: none;
  margin-top: 5px;
}

.custom-container {
  width: 100vw;
  height: 100vh;
  background-color: #3d2967;
  color: #f21d81;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.cardGlass {
  background: rgba(162, 162, 162, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  /* background: rgba(162, 162, 162, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  */
}
