@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fredoka-one";
  src: url("./assets/fonts/Fredoka_One/FredokaOne-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "montserrat-regular";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "montserrat-medium";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@layer base {
  .fredoka {
    font-family: "fredoka-one";
  }
  .montse-rg {
    font-family: "montserrat-regular";
  }
  .montse-md {
    font-family: "montserrat-medium";
  }
}
body {
  font-family: "montserrat-medium";
  margin: 0;
  color: #96969f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
